<h1>タスク一覧</h1>
<table>
  <th>
    タスク名
  </th>
  <th>
    登録日時
  </th>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.task_name %></td>
      <td><%= task.created_at %></td>
      <td><%= link_to '詳細', task_path(task.id) %></td>
      <td><%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: '本当に削除して良いですか？'} %></td>
  </tr>
  <% end %>
</table>
